.menu {

  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;

  .menu-bar {
    background-color: $bgmenu;
    color: $strongtext;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    margin: 0;
    font-family: Roboto, Helvetica Neue, sans-serif;
  }

  .menu-bar-scrolled {
    background-color: $bgmenu-scrolled;
  }

  .menu-top {
    @media screen and (max-width: 720px) {
      display: none;
    }
    flex-grow: 1;
    ul {
      float: right;
      list-style: none;
    }
    ul.dropdown-menu {
      display: none;
    }
    ul.dropdown-menu.open {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: block;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background-clip: padding-box;
    }
    ul::after {
      content: " ";
      display: table;
    }
    li {
      position: relative;
      display: inline-block;
      list-style: none;
      padding-left: 0.6em;
      padding-right: 0.6em;
    }
    a {
      text-decoration: none;
      color: $strongtext;
    }
    li:hover {
      background-color: $bgmenu-hover;
    }
  }

  .menu-title {
    padding-left: 1em;
    color: $titletext;
  }

  .menu-dropbtn {
    @media screen and (min-width: 721px) {
      display: none;
    }
  }

}
