@page {
  size: A4;
  margin: 0; }
@media print {
  .bnrpage {
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always; } }
.bnr_11 {
  top: 1cm;
  left: 1cm; }

.bnr_12 {
  top: 1cm;
  left: 6cm; }

.bnr_13 {
  top: 1cm;
  left: 11cm; }

.bnr_21 {
  top: 6cm;
  left: 1cm; }

.bnr_22 {
  top: 6cm;
  left: 6cm; }

.bnr_23 {
  top: 6cm;
  left: 11cm; }

.bnr_31 {
  top: 11cm;
  left: 1cm; }

.bnr_32 {
  top: 11cm;
  left: 6cm; }

.bnr_33 {
  top: 11cm;
  left: 11cm; }

.bnr_41 {
  top: 16cm;
  left: 1cm; }

.bnr_42 {
  top: 16cm;
  left: 6cm; }

.bnr_43 {
  top: 16cm;
  left: 11cm; }

.bnr_51 {
  top: 21cm;
  left: 1cm; }

.bnr_52 {
  top: 21cm;
  left: 6cm; }

.bnr_53 {
  top: 21cm;
  left: 11cm; }

.bnr_1 {
  position: absolute;
  width: 5cm;
  height: 5cm;
  border: 1px dashed #444; }

.bnrpage {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 2cm auto 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative; }

.bnrcat {
  position: absolute;
  top: 0;
  left: 4cm;
  width: 1cm;
  height: 5cm; }

.bnrnr {
  position: absolute;
  top: 1.5cm;
  left: 1.5cm;
  font-size: 400%; }

.brntext {
  position: absolute;
  top: 4.5cm;
  left: 0.5cm;
  font-size: 80%; }

.B8 {
  background-color: #f3e0e9 !important; }

.G8 {
  background-color: #f3e0e9 !important; }

.BG8 {
  background-color: #f3e0e9 !important; }

.B10 {
  background-color: #8bf589 !important; }

.G10 {
  background-color: #def5c1 !important; }

.B12 {
  background-color: #678cf9 !important; }

.G12 {
  background-color: #b0d0ef !important; }

.B14 {
  background-color: #f8f79a !important; }

.G14 {
  background-color: #eed76e !important; }

.B16 {
  background-color: #de5150 !important; }

.G16 {
  background-color: #fa6883 !important; }

.B18 {
  background-color: #8f43de !important; }

.G18 {
  background-color: #8f43de !important; }

.BG18 {
  background-color: #8f43de !important; }

.B20 {
  background-color: #aaaaaa !important; }

.G20 {
  background-color: #aaaaaa !important; }

.BG20 {
  background-color: #aaaaaa !important; }

.ORG {
  background-color: #1734dc !important; }

.ARB {
  background-color: #1734dc !important; }

