<style>
.cardbox {
  margin: 13px 6px;
  padding: 6px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.phtop {  margin-top: 0.5em; }
</style>
<h1>{% trans "Belgian Youth Chess Championships 2018" %}</h1>
<div class="cardbox  md-whiteframe-4dp">
    <h3>{% trans "Confirmation details" %}</h3>
    <table>
        <tr>
            <td width="30%" class="confirmationphoto">
                <img src="cid:1">
            </td>
            <td width="35%">
                <div class="phtop">
                    {% trans "Fullname" %}: {{sub.fullname }}
                </div>
                <div class="phtop">
                    {% trans "Birthdate" %}: {{sub.birthdate}}
                </div>
                <div class="phtop">
                    {% trans "ID Club" %}: {{sub.idclub}}
                </div>
                <div class="phtop">
                    {% trans "FIDE Nationality" %}: {{sub.nationalityfide}}
                </div>
                <div class="phtop">
                  <span>{% trans "Can become Belgian champion" %}</span>:
                  {% if sub.natstatus == 'fidebelg' %}{%  trans "Yes" %}{%  endif %}
                  {% if sub.natstatus == 'nobelg' %}{%  trans "No" %}{%  endif %}
                  {% if sub.natstatus == 'maybe' %}{%  trans "To be confirmed" %}{%  endif %}
                </div>
            </td>
            <td width="35%" >
                <div class="phtop">
                    {% trans "National rating" %}: {{sub.ratingbel}}
                </div>
                <div class="phtop">
                    {% trans "FIDE rating" %}: {{sub.ratingfide}}
                </div>
                <div class="phtop">
                    {% trans "Gender" %}: {{sub.gender}}
                </div>
                <div class="phtop">
                    {% trans "Category" %}: {{sub.category}}
                </div>
            </td>
        </tr>
  </table>
  <div class="pftop"></div>
</div>
<br>
<br>
<div class="cardbox">
    <h3>{% trans "Payment" %}</h3>
    <div class="pfbot">
        {% blocktrans %}
            The subscription fee is 35 Euro is you pay before the 1st of March
            2018.  After that date you wil have to pay 45 Euro.
        {% endblocktrans %}
    </div>
    <div class="pfbot">
        {% blocktrans %}
            Pay the amount on account BE33 0017 5924 5146 with the structered message:
        {% endblocktrans %}: {{sub.paymessage}}
    </div>
    <div class="pftop"></div>
</div>
<br><br>
The Bycco team