{% extends "angular.html" %}
{% load cms_tags i18n sekizai_tags staticfiles %}

{% block title %}Manage Participants{% endblock title %}

{% block content %}

<div ng-app="mg_attendee" ng-controller="mgAttendeeCtrl" class="container">

<h1>Manage Attendees</h1>

<md-tabs md-border-bottom md-autoselect md-dynamic-height md-selected="tab">

  <md-tab>
    <md-tab-label>Attendees</md-tab-label>
    <md-tab-body>
      <div layout="row">
        <md-input-container flex>
          <label>Search on name</label>
          <input ng-model="att.ss" type="text">
        </md-input-container>
        <md-input-container flex>
          <label>Category</label>
          <md-select ng-model="att.cat">
            <md-option value="">All players</md-option>
            <md-option value="B8">B8</md-option>
            <md-option value="G8">G8</md-option>
            <md-option value="B10">B10</md-option>
            <md-option value="G10">G10</md-option>
            <md-option value="B12">B12</md-option>
            <md-option value="G12">G12</md-option>
            <md-option value="B14">B14</md-option>
            <md-option value="G14">G14</md-option>
            <md-option value="B16">B16</md-option>
            <md-option value="G16">G16</md-option>
            <md-option value="B18">B18</md-option>
            <md-option value="G18">G18</md-option>
            <md-option value="B20">B20</md-option>
            <md-option value="G20">G20</md-option>
            <md-option value="ORG">Organiser</md-option>
            <md-option value="ARB">Arbiter</md-option>
            <md-option value="SPO">Sponsor or Guest</md-option>
            <md-option value="EAT">Resident with meals</md-option>
          </md-select>
        </md-input-container>
        <div flex>
          <md-button ng-click="att.search()" class="md-primary md-raised">
            Search
          </md-button>
          <md-button ng-click="att.open_add()" class="md-primary md-raised"
                     ng-hide="att.status">
            Add
          </md-button>
          <md-button class="md-primary md-raised" href="/subscribe/csv">
            CSV
          </md-button>
        </div>
      </div>
      <div class="cardbox md-whiteframe-4dp" >
        <h4>Registered attendees</h4>
        Showing from <span ng-bind="pager.start +1"></span> to
        <span ng-bind="pager.end"></span> of <span ng-bind="pager.total"></span>
        <ul class="pagination" ng-show="pager.show">
          <li>
            <a href="#" aria-label="Previous" ng-click="pager.prev()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li ng-repeat="page in pager.pages" ng-class="{active: page.active}">
            <a href="#" ng-click="pager.goto($index)" ng-bind="$index+1"></a>
          </li>
          <li>
            <a href="#" aria-label="Next" ng-click="pager.next()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <table class="table">
            <tr ng-repeat="p in players">
              <td ng-bind="$index + 1"></td>
              <td><img width=50
                       ng-src="{% templatetag openvariable %}photourl(p){% templatetag closevariable %}">
              </td>
              <td ng-bind="p.first_name"></td>
              <td ng-bind="p.last_name"></td>
              <td ng-bind="p.category"></td>
              <td ng-bind="p.present"></td>
              <td ng-bind="p.payamount"></td>
              <td>
                <md-icon ng-click="att.open_edit(p)">edit</md-icon>&nbsp;&nbsp;
                <md-icon ng-click="att.open_photo(p)">photo</md-icon>
                <md-icon ng-click="att.add_badge(p)">assignment_ind</md-icon>&nbsp;&nbsp;
                <md-icon ng-click="att.add_card(p)">local_offer</md-icon>
              </td>
            </tr>
          </table>
      </div>
    </md-tab-body>
   </md-tab>

  <md-tab>
    <md-tab-label>Detail</md-tab-label>
    <md-tab-body>
      <div  class="cardbox md-whiteframe-4dp">
        <h4 ng-show="detailmode == 'new'" class="pftop phbot">New attendee</h4>
        <h4 ng-show="detailmode == 'edit'" class="pftop phbot">Edit attendee</h4>
        <div layout="row">
          <div flex layout="column">
            <md-input-container flex>
              <label>Last Name</label>
              <input ng-model="attendee.last_name" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>First Name</label>
              <input ng-model="attendee.first_name" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Chesstitle</label>
              <md-select ng-model="attendee.chesstitle" type="text">
                <md-option></md-option>
                <md-option value="GM">GM</md-option>
                <md-option value="IM">IM</md-option>
                <md-option value="FM">FM</md-option>
                <md-option value="WGM">WGM</md-option>
                <md-option value="WIM">WIM</md-option>
                <md-option value="WFM">WFM</md-option>
                <md-option value="IA">IA</md-option>
                <md-option value="FA">FA</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>Birth Date</label>
              <input ng-model="bdate" type="date"
                     value="{% templatetag openvariable %}attendee.birthdate{% templatetag closevariable %}">
            </md-input-container>
            <md-input-container flex>
              <label>Category</label>
              <md-select ng-model="attendee.category" type="text">
                <md-option></md-option>
                <md-option value="B8">B8</md-option>
                <md-option value="G8">G8</md-option>
                <md-option value="B10">B10</md-option>
                <md-option value="G10">G10</md-option>
                <md-option value="B12">B12</md-option>
                <md-option value="G12">G12</md-option>
                <md-option value="B14">B14</md-option>
                <md-option value="G14">G14</md-option>
                <md-option value="B16">B16</md-option>
                <md-option value="G16">G16</md-option>
                <md-option value="B18">B18</md-option>
                <md-option value="G18">G18</md-option>
                <md-option value="B20">B20</md-option>
                <md-option value="G20">G20</md-option>
                <md-option value="ORG">Organiser</md-option>
                <md-option value="ARB">Arbiter</md-option>
                <md-option value="SPO">Sponsor or Guest</md-option>
                <md-option value="EAT">Resident with meals</md-option>
              </md-select>
            </md-input-container>
            <div flex>
              <b>Gender:</b> <span ng-bind="attendee.gender"></span>
            </div>
            <div flex>
              <b>ID Club:</b> <span ng-bind="attendee.idclub"></span>
            </div>
            <div flex>
              <b>ID Fide:</b> <span ng-bind="attendee.idfide"></span>
            </div>
            <div flex>
              <b>ID Bel:</b> <span ng-bind="attendee.idbel"></span>
            </div>
            <div flex>
              <b>Nationality Bel:</b> <span ng-bind="attendee.nationalitybel"></span>
            </div>
            <md-input-container flex>
              <label>Nationality FIDE</label>
              <input ng-model="attendee.nationalityfide" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Rating FIDE</label>
              <input ng-model="attendee.ratingfide" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Rating Bel</label>
              <input ng-model="attendee.ratingbel" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Rating Used</label>
              <input ng-model="attendee.rating" type="text">
            </md-input-container>
            <div flex>
              <b>Confirmed:</b> <span ng-bind="attendee.confirmed ? 'Yes' : 'No' "></span>
            </div>
          </div>
          <div flex layout="column">
            <md-input-container flex>
              <label>Email player</label>
              <input ng-model="attendee.emailplayer" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Fullname parent</label>
              <input ng-model="attendee.fullnameparent" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Mobile parent</label>
              <input ng-model="attendee.mobileparent" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Email parent</label>
              <input ng-model="attendee.emailparent" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Fullname local representative</label>
              <input ng-model="attendee.fullnameattendant" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Mobile local representative</label>
              <input ng-model="attendee.mobileattendant" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Email local representative</label>
              <input ng-model="attendee.emailattendant" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Meals</label>
              <md-select ng-model="attendee.meals" type="text">
                <md-option></md-option>
                <md-option value="FB">Full boarding</md-option>
                <md-option value="HB">Half boarding</md-option>
                <md-option value="BO">Breakfast only</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>Locale</label>
              <md-select ng-model="attendee.locale" type="text">
                <md-option></md-option>
                <md-option value="nl">NL</md-option>
                <md-option value="fr">FR</md-option>
                <md-option value="de">DE</md-option>
                <md-option value="en">EN</md-option>
              </md-select>
            </md-input-container>
            <div flex>
              <b>Payment message:</b> <span ng-bind="attendee.paymessage"></span>
            </div>
            <md-input-container flex>
              <label>Payment Amount</label>
              <input ng-model="attendee.payamount" type="text">
            </md-input-container>
            <md-input-container flex>
              <label>Payment Date</label>
              <input ng-model="pdate" type="date"
                     value="{% templatetag openvariable %}attendee.paydate{% templatetag closevariable %}">
            </md-input-container>
            <md-input-container flex>
              <label>Presence</label>
              <md-select ng-model="attendee.presence" type="text">
                <md-option></md-option>
                <md-option value="0">Yes</md-option>
                <md-option value="1">No</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>Remarks</label>
              <input ng-model="attendee.remarks" type="text">
            </md-input-container>
          </div>
          <div flex>
            <md-button class="md-primary md-raised"
                       ng-click="att.save_edit()">
              Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-click="att.cancel()">
              Close
            </md-button>
            <md-button ng-click="att.open_photo(attendee)"
                       class="md-primary md-raised"
                       ng-show="att.status=='addsaved'">
              Photo
            </md-button>
          </div>
      </div>
    </md-tab-body>
   </md-tab>

  <md-tab>
    <md-tab-label>Photos</md-tab-label>
    <md-tab-body>
      <h3>Upload photo</h3>
      <div  class="cardbox md-whiteframe-4dp">
        <h4>Details attendee</h4>
        <div layout="row">
          <div flex="50">
            <p>Existing photo</p>
            <img ng-src="{% verbatim %}{{ photourl(attendee) }}{% endverbatim %}">
          </div>
          <div flex="50">
            <div class="phtop">
              <span>Last Name</span>:
              <span ng-bind="attendee.first_name"></span>
              <span ng-bind="attendee.last_name"></span>
            </div>
            <div class="phtop">
              <span>National ID</span>:
              <span ng-bind="attendee.id_national"></span>
            </div>
            <div class="phtop">
              <span>Player</span>:
              <span ng-bind="attendee.is_player ? 'Yes' : 'No'"></span>
            </div>
            <div class="phtop">
              <span>Meals</span>:
              <span ng-bind="attendee.meals"></span>
            </div>
          </div>
        </div>
      </div>
      <div  class="cardbox md-whiteframe-4dp">
        <h4>Select photo</h4>
        <div ngf-drop ngf-select ng-model="photo.data" class="dropbox"
            ngf-drag-over-class="'dragover'" accept="image/*"
            ngf-pattern="'image/*'">
          Photo area.
        </div>
        <div class="photosrc">
            <img-crop image="photo.cropsource" result-image="photo.cropresult" area-type="rectangle"
                      result-image-size="{w:160,h:200}" area-image-size="{w:80,h:100}"
                      aspect-ratio="0.8" result-image-format="image/jpeg"></img-crop>
        </div>
      </div>
      <div  class="cardbox md-whiteframe-4dp">
        <h4>Resulting photo</h4>
        <div class="photoresult">
          <img ng-src="{% verbatim %}{{ photo.cropresult }}{% endverbatim %}">
        </div>
      </div>

      <div class="pftop pbtop">
        <md-button ng-click="photo.upload()" class="md-raised md-primary">
          Upload
        </md-button>
      </div>

    </md-tab-body>
  </md-tab>

  <md-tab>
    <md-tab-label>Print</md-tab-label>
    <md-tab-body>
      <div class="cardbox md-whiteframe-4dp">
        <md-button ng-click="bdg.printall()" class="md-raised md-primary">
          Print All
        </md-button>
        <md-button ng-click="bdg.printselected()" class="md-raised md-primary">
          Print Selected
        </md-button>
        <md-button ng-click="bdg.clearselected()" class="md-raised md-primary">
          Clear Selected
        </md-button>
      </div>
      <div class="cardbox md-whiteframe-4dp">
        <h4>Selected Attendees</h4>
        <table class="table">
          <tr ng-repeat="p in badges">
            <td ng-bind="$index + 1"></td>
            <td><img width=50
                     ng-src="{% templatetag openvariable %}photourl(p){% templatetag closevariable %}">
            </td>
            <td ng-bind="p.first_name"></td>
            <td ng-bind="p.last_name"></td>
            <td ng-bind="p.category"></td>
            <td>
              <span class="fa fa-2x fa-remove" ng-click="bdg.remove_single(p)"></span>
            </td>
          </tr>
          </table>
      </div>
      <div class="cardbox md-whiteframe-4dp">
        <md-button ng-click="crd.printall()" class="md-raised md-primary">
          Print All
        </md-button>
        <md-button ng-click="crd.printselected()" class="md-raised md-primary">
          Print Selected
        </md-button>
        <md-button ng-click="crd.clearselected()" class="md-raised md-primary">
          Clear Selected
        </md-button>
      </div>
      <div class="cardbox md-whiteframe-4dp">
        <h4>Selected Attendees</h4>
        <table class="table">
          <tr ng-repeat="p in cards">
            <td ng-bind="$index + 1"></td>
            <td><img width=50
                     ng-src="{% templatetag openvariable %}photourl(p){% templatetag closevariable %}">
            </td>
            <td ng-bind="p.first_name"></td>
            <td ng-bind="p.last_name"></td>
            <td ng-bind="p.category"></td>
            <td>
              <span class="fa fa-2x fa-remove" ng-click="crd.remove_single(p)"></span>
            </td>
          </tr>
          </table>
      </div>
    </md-tab-body>
  </md-tab>


</md-tabs>

</div>

{% addtoblock "css" %}
<link href="{% static 'css/angular-material.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static 'mg_attendee.js' %}" ></script>

<script src="{% static 'js/lib/angular.min.js' %}"></script>
<script src="{% static 'js/lib/angular-animate.min.js' %}"></script>
<script src="{% static 'js/lib/angular-aria.min.js' %}"></script>
<script src="{% static 'js/lib/angular-cookies.min.js' %}"></script>
<script src="{% static 'js/lib/angular-gettext.min.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_en.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_fr.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_de.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_nl.js' %}"></script>
<script src="{% static 'js/lib/angular-material.min.js' %}"></script>
<script src="{% static 'js/lib/angular-messages.min.js' %}"></script>
<script src="{% static 'js/lib/angular-route.min.js' %}"></script>
<script src="{% static 'js/lib/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/lib/ng-file-upload.min.js' %}"></script>
<script src="{% static 'js/lib/ui-cropper.js' %}"></script>

<script src="{% static 'js/controllers/ctrl_mgattendee.js'%}"></script>
<script src="{% static 'js/services/api.js'%}"></script>
<script src="{% static 'js/services/apidef.js'%}"></script>

{% endaddtoblock %}

{% endblock content %}


