{% extends "vue.html" %}
{% load cms_tags i18n sekizai_tags staticfiles %}

{% block title %}{% trans "Tournament Subscriptions" %}{% endblock title %}

{% block vuecontent %}

<h1>{% trans "Participants" %}</h1>

<v-tabs v-model="tabix" class="blue-grey lighten-3" light
    slider-color="pink">
  <v-tab v-for="cat in categories" @click="changecat(cat)" class="mx-2">
    -<span v-text="cat"></span>
  </v-tab>
</v-tabs>

<v-tabs-items v-model="tabix" class="elevation-1">
  <v-tab-item v-for="cat in categories">
      <v-card>
        <v-card-title class="headline">
          {% trans "Girls" %} -<span v-text="cat"></span>
        </v-card-title>
        <v-card-text>
          <table>
            <tr v-for="(p,index) in girls">
              <td v-text="index + 1"></td>
              <td><img width=50 :src="photourl(p)"></td>
              <td v-text="p.first_name"></td>
              <td v-text="p.last_name"></td>
              <td v-text="p.rating"></td>
            </tr>
          </table>
        </v-card-text>
      </v-card>
      <v-card>
        <v-card-title class="headline">
          {% trans "Boys" %} -<span v-text="cat"></span>
        </v-card-title>
        <v-card-text>
          <table>
            <tr v-for="(p,index) in boys">
              <td v-text="index + 1"></td>
              <td><img width=50 :src="photourl(p)"></td>
              <td v-text="p.first_name"></td>
              <td v-text="p.last_name"></td>
              <td v-text="p.rating"></td>
            </tr>
          </table>
        </v-card-text>
      </v-card>
  </v-tab-item>
</v-tabs-items>

{% addtoblock "js" %}
<script src="{% static 'participants.js' %}" type="application/javascript"></script>
{% endaddtoblock %}

{% endblock vuecontent %}
