{% extends "angular.html" %}
{% load cms_tags i18n sekizai_tags staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans "Tournament Subscriptions" %}{% endblock title %}
{% block content %}
<div ng-app="subscription" ng-controller="subCtrl" class="textbox">

<h1>{% trans "Tournament Subscriptions" %}</h1>

<md-tabs md-selected="sub.tabix" md-border-bottom md-autoselect md-dynamic-height>

  <md-tab label="intro">
    <div class="cardbox md-whiteframe-4dp">
      <h3>{% trans "Intro" %}</h3>
      <div class="phtop phbot">{% blocktrans %}
        You need 2 items in order to subscribe to the Belgian
        Chess Championships:
      {% endblocktrans %}</div>
      <ul>
        <li>{% trans "Your id number of the Royal Belgian Chess Federation" %}</li>
        <li>{% trans "A photo for your badge" %}</li>
      </ul>
      <div class="phtop phbot">{%  blocktrans %}
        In case you do not have your id number of the RBCF,
        please contant your chess club, which can provide it.
        <br>
        In case your club just requested a new id number, please take into
        account it can take a few days before the id number is published.
      {% endblocktrans %}</div>
    </div>
    <div class="pftop pbtop">
      <md-button ng-click="sub.gotoTab(1)" class="md-raised md-primary">
        {% trans "Continue" %}
      </md-button>
    </div>
  </md-tab>

  <md-tab label="{% trans "ID number" %}" ng-disabled="sub.max_tabix < 1" ng-cloak>
    <div class="cardbox md-whiteframe-4dp">
      <h3>{% trans "ID number" %}</h3>
      <p>{% trans "Please provide your id number of the RBCF." %}</p>
      <md-input-container>
        <label>{% trans "ID number" %}</label>
        <input ng-model="sub.idbel" required type="text" md-maxlength="5">
      </md-input-container>
      <p ng-hide="sub.searched && sub.found">
        <md-button class="md-raised md-primary" ng-click="sub.checkIdNational()">
          {% trans "Lookup ID number" %}
        </md-button>
      </p>
    </div>
    <div ng-show="sub.errorcode=='notfound'"
         md-colors="{background: 'warn'}"
         class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
        The id number could not be found.<br>
        Please take into account that a takes a few days before a newly
        requested id-number is available.
      {% endblocktrans %}
    </div>
    <div ng-show="sub.errorcode=='playeradult'"
         md-colors="{background: 'warn'}"
         class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
        The id number is not belonging to a youth player.
      {% endblocktrans %}
    </div>
    <div ng-show="sub.errorcode=='alreadyregistered'"
         md-colors="{background: 'warn'}"
         class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
        This player is already registered
      {% endblocktrans %}
    </div>
    <div ng-show="sub.errorcode=='unknown'"
         md-colors="{background: 'warn'}"
         class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
        An unknown error occured.  Please try again.
        If the error persists, please contact the organizers
      {% endblocktrans %}
    </div>
    <div ng-show="sub.errorcode=='noyouth'"
        md-colors="{background: 'warn'}"
        class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
         This id number does not belong to a youth player
      {% endblocktrans %}
    </div>
    <div ng-show="sub.found" class="cardbox md-whiteframe-4dp">
      <h4>{% trans "Player found:" %}</h4>
      <p ng-bind="sub.fullname()"></p>
      <p>
        <md-button ng-click="sub.gotoTab(2)" class="md-raised md-primary">
          {% trans "Continue" %}
        </md-button>
        <md-button ng-click="sub.clearPlayer()" class="md-raised md-primary">
          {% trans "Other player" %}
        </md-button>
      </p>
    </div>
  </md-tab>

  <md-tab label="{% trans "Details" %}" ng-disabled="sub.max_tabix <2" ng-cloak>

    <div class="cardbox md-whiteframe-4dp">

      <h4>{% trans "Details player" %}</h4>

      <div layout="row" layout-align="space-between start">
        <div flex="45" layout="column">
          <div class="phtop">
            <span>{% trans "Fullname" %}</span>:
            <span ng-bind="sub.fullname()"></span>
          </div>
          <div class="phtop">
            <span>{% trans "Birthdate" %}</span>:
            <span ng-bind="sub.birthdateformat()"></span>
          </div>
          <div class="phtop">
            <span>{% trans "ID Club" %}</span>:
            <span ng-bind="sub.idclub"></span>
          </div>
          <div class="phtop">
            <span>{% trans "Nationality" %}</span>:
            <span ng-bind="sub.nationalitybel"></span>
          </div>
          <div class="phtop">
            <span>{% trans "FIDE Nationality" %}</span>:
            <span ng-bind="sub.nationalityfide"></span>
          </div>
        </div>
        <div flex="45" layout="column">
          <div class="phtop">
            <span>{% trans "National rating" %}</span>:
            <span ng-bind="sub.currentratingbel"></span>
          </div>
          <div class="phtop">
            <span>{% trans "FIDE rating" %}</span>:
            <span ng-bind="sub.currentratingfide"></span>
          </div>
          <div class="phtop">
            <span>{% trans "Gender" %}</span>:
            <span ng-show="sub.gender == 'M'"> {% trans "Male" %}</span>
            <span ng-hide="sub.gender == 'M'"> {% trans "Female" %}</span>
          </div>
          <div layout="row" layout-align="start end" class="phtop">
            <div>{% trans "Category" %}</div>: &nbsp;
            <md-select ng-model="sub.category" style="margin:0;">
              <md-option ng-value="opt.value" ng-repeat="opt in optyears" ng-bind="opt.label">
              </md-option>
            </md-select>
          </div>
        </div>
      </div>

    </div>

    <div ng-show="sub.adult">
      <div class="cardbox md-whiteframe-4dp">
        <h4>{% trans "Required information" %}</h4>
        <div class="pftop">
          {% blocktrans with ob="{{" cb="}}" %}
            {{ ob }} sub.first_name {{ cb }} is an adult at the start of
            the tournament. For adults we need following information.
          {% endblocktrans %}
        </div>
        <div layout="column">
          <md-input-container class="md-block">
            <label>{% trans "Email address player" %}</label>
            <input ng-model="sub.emailplayer" type="email">
          </md-input-container>
          <md-input-container>
            <label>{% trans "GSM number player" %}</label>
            <input ng-model="sub.mobileplayer" type="text">
          </md-input-container>
        </div>
      </div>
      <div class="cardbox  md-whiteframe-4dp" >
        <h4>{% trans "Optional information" %}</h4>
        <div class="pftop">
          {% blocktrans %}
            Although optional it is recommended to provide the details of a club
            or league representative that is at site during the tournament
          {% endblocktrans %}
        </div>
        <div layout="column">
          <md-input-container>
            <label>{% trans "Fullname respresentative" %}</label>
            <input ng-model="sub.fullnameattendant"  type="text">
          </md-input-container>
          <md-input-container>
            <label>{% trans "GSM number representative" %}</label>
            <input ng-model="sub.mobileattendant" type="text">
          </md-input-container>
        </div>
      </div>
    </div>

    <div ng-hide="sub.adult">
      <div class="cardbox md-whiteframe-4dp">
        <h4>{% trans "Required information" %}</h4>
        <p>
          {% blocktrans with ob="{{" cb="}}" %}
            {{ ob }} sub.first_name {{ cb }} is still a minor at the
            start of the tournament. For minors we need following information.
          {% endblocktrans %}
        </p>
        <div layout="row" layout-align="space-between start">
          <div layout="column" flex="45">
            <h4>{% trans "Info about parent" %}</h4>
            <md-input-container>
              <label>{% trans "Fullname" %}</label>
              <input ng-model="sub.fullnameparent" required type="text">
            </md-input-container>
            <md-input-container class="phtop">
              <label>{% trans "Email address" %}</label>
              <input ng-model="sub.emailparent" required type="email">
            </md-input-container>
            <md-input-container>
              <label>{% trans "GSM number" %}</label>
              <input ng-model="sub.mobileparent" required type="text">
            </md-input-container>
          </div>
          <div layout="column" flex="45">
            <h4>{% trans "Info about presence on site" %}</h4>
            <div>
              <input ng-model="parentispresent" required type="checkbox">
              <span>{% trans "A parent is present at site" %}</span>
            </div>
            <div class="pftop" ng-hide="parentispresent">
              {% trans "Info about adult representative at site" %}
            </div>
            <md-input-container ng-hide="parentispresent">
              <label>{% trans "Fullname" %}</label>
              <input ng-model="sub.fullnameattendant" required type="text">
            </md-input-container>
            <md-input-container ng-hide="parentispresent">
              <label>{% trans "GSM number" %}</label>
              <input ng-model="sub.mobileattendant" required type="text">
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="cardbox md-whiteframe-4dp">
        <h4>{% trans "Optional information" %}</h4>
        <div class="pftop">
          {% blocktrans %}
            The information requested below, is optional but it is highly
            recommended to provide it
          {% endblocktrans %}
        </div>
        <md-input-container class="md-block">
          <label>{% trans "Email address player" %}</label>
          <input ng-model="sub.emailplayer" type="email">
        </md-input-container>
      </div>
    </div>

    <div ng-show="sub.errorcode=='invalidfield'"
         md-colors="{background: 'warn'}"
         class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
        One of the required fields is invalid.
      {% endblocktrans %}
    </div>

    <div ng-show="sub.errorcode=='firewall'"
         md-colors="{background: 'warn'}"
         class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
        We are experiencing authentication problems while sending the data to
        the server.  Probably you are behind a firewall that blocks the traffic.
        Try again using a direct connection to the Internet.
      {% endblocktrans %}
    </div>
    <div ng-show="sub.errorcode=='unknown'"
         md-colors="{background: 'warn'}"
         class="cardbox md-whiteframe-3dp">
      {% blocktrans %}
        An unknown error occured.  Please try again.
        If the error persists, please contact the organizers
      {% endblocktrans %}
    </div>


    <div class="pftop pbtop">
      <md-button ng-click="sub.createSubscription()" class="md-raised md-primary">
        {% trans "Continue" %}
      </md-button>
    </div>

  </md-tab>

  <md-tab label="{% trans "Photo" %}" ng-disabled="sub.max_tabix <3" ng-cloak>
    <div  class="cardbox md-whiteframe-4dp">
      <h4>{% trans "Select photo" %}</h4>
      <p>
        {% blocktrans %}
          We need a photo to make your tournament badge.
          You need to select a photo by dragging a photo to the photo area
          or by either clicking the photo area and
          selecting a photo.
        {% endblocktrans %}
      </p>
      <div ngf-drop ngf-select ng-model="photo.data" class="dropbox"
          ngf-drag-over-class="'dragover'" accept="image/*"
          ngf-pattern="'image/*'">
        {% blocktrans %}
        Photo area . Drop your photo here or click to select a photo
        {% endblocktrans %}
      </div>
      <div class="photosrc">
          <ui-cropper
            image="photo.cropsource" result-image="photo.cropresult" area-type="rectangle"
            result-image-size="{w:160,h:200}" area-image-size="{w:80,h:100}"
            aspect-ratio="0.8" result-image-format="image/jpeg"></ui-cropper>
      </div>


    </div>
    <div  class="cardbox md-whiteframe-4dp">
      <h4>{% trans "Resulting photo" %}</h4>
      <p>
        {% blocktrans %}
          Once the photo is selected, you can move the selector handles with
          your mouse in order to adjust the photo.  Please make sure that the
          face of player fills the resulting image.
          When the resulting image seems OK, click continue.
        {% endblocktrans %}
      </p>
        <div class="photoresult">
          <img ng-src="{% verbatim %}{{ photo.cropresult }}{% endverbatim %}">
        </div>
    </div>

    <div class="pftop pbtop">
      <md-button ng-click="sub.uploadPhoto()" class="md-raised md-primary">
        {% trans "Continue" %}
      </md-button>
    </div>

  </md-tab>

  <md-tab label="{% trans "Nationality" %}" ng-disabled="sub.max_tabix < 4" ng-cloak>
    <div class="cardbox  md-whiteframe-4dp">
      <h3>{% trans "Nationality" %}</h3>
      <div ng-show="sub.natstatus == 'fidebelg'" class="pftop pfbot">
        {% blocktrans%}
          For the FIDE you are a Belgian.
          This means you can win the Balgian title and you can participate
          to the European and World Championships as part of the Belgian team.
        {% endblocktrans %}
      </div>
      <div ng-show="sub.natstatus == 'nobelg'" class="pftop pfbot">
        {% blocktrans %}
          For the FIDE you are not a Belgian.
          This means you cannot win the Belgian title and you cannot participate
          to the European and World Championships as part of the Belgian team.
        {% endblocktrans %}
      </div>
      <div ng-show="sub.natstatus == 'maybe'" class="pftop pfbot">
        {% blocktrans %}
          You are not affiliated to the FIDE.  Unless you
          <a href=mailto:info@bycco.be>contact us</a> before the 15th of March
          and instruct us to explicitely do otherwise,
          we will affiliate you as a Belgian to the FIDE,
          so you can win the Belgian title and you can participate
          to the European and World Championships as part of the Belgian team.
        {% endblocktrans %}
      </div>
      <div>
        <md-checkbox ng-model="sub.nationagree">{% trans "I agree" %}</md-checkbox>
      </div>
    </div>
    <div class="cardbox md-whiteframe-4dp">
      <h3>{% trans "Privacy rules" %}</h3>
      <div class="pftop pfbot">
        {% blocktrans %}
          You give Bycco to right to use the personal data collected in this
          subscription form.  <br>
          Bycco will only use this data in order to organize
          this championships.
          <ul>
           <li>Bycco will use the profile picture for a badge and for
             identification on the website.</li>
           <li>Bycco will use all personal data like telephone numbers and email
             addresses for internal purposes only.</li>
           <li>Bycoo is taking overview photos/videos of the championships and
             can publish these photos/videos on its website and on social media</li>
           <li>If Bycco is taking a closeup photos/video of a player,
             Bycco will explicitely ask permission to publish.</li>
            <li>In any case Bycco will not leak any personal information to third
              parties.</li>
          </ul>
        {% endblocktrans %}
      </div>
      <div>
        <md-checkbox ng-model="sub.privacy">{% trans "I agree" %}</md-checkbox>
      </div>
    </div>
    <div class="pftop pbtop" ng-show="sub.privacy && sub.nationagree">
      <md-button ng-click="sub.gotoTab(5)" class="md-raised md-primary">
        {% trans "Continue" %}
      </md-button>
    </div>

  </md-tab>

  <md-tab label="{% trans "Confirm" %}" ng-disabled="sub.max_tabix < 5" ng-cloak>
    <div class="cardbox  md-whiteframe-4dp">

      <h3>{% trans "Confirmation details" %}</h3>
      <div layout="row">
        <div flex="30" class="confirmationphoto">
          <img ng-src="{% verbatim %}{{ photo.cropresult }}{% endverbatim %}">
        </div>
        <div flex="35" layout="column">
          <div class="phtop">
            <span>{% trans "Fullname" %}</span>:
            <span ng-bind="sub.fullname()"></span>
          </div>
          <div class="phtop">
            <span>{% trans "Birthdate" %}</span>:
            <span ng-bind="sub.birthdateformat()"></span>
          </div>
          <div class="phtop">
            <span>{% trans "ID Club" %}</span>:
            <span ng-bind="sub.idclub"></span>
          </div>
          <div class="phtop">
            <span>{% trans "Nationality" %}</span>:
            <span ng-bind="sub.nationalitybel"></span>
          </div>
          <div class="phtop">
            <span>{% trans "FIDE Nationality" %}</span>:
            <span ng-bind="sub.nationalityfide"></span>
          </div>
          <div class="phtop">
            <span>{% trans "Can become Belgian champion" %}</span>:
            <span ng-show="sub.natstatus == 'fidebelg'">{%  trans "Yes" %}</span>
            <span ng-show="sub.natstatus == 'nobelg'">{%  trans "No" %}</span>
            <span ng-show="sub.natstatus == 'maybe'">{%  trans "To be confirmed" %}</span>
          </div>
        </div>
        <div flex="35" layout="column">
          <div class="phtop">
            <span>{% trans "National rating" %}</span>:
            <span ng-bind="sub.currentratingbel"></span>
          </div>
          <div class="phtop">
            <span>{% trans "FIDE rating" %}</span>:
            <span ng-bind="sub.currentratingfide"></span>
          </div>
          <div class="phtop">
            <span>{% trans "Gender" %}</span>:
            <span ng-show="sub.gender == 'M'"> {% trans "Male" %}</span>
            <span ng-hide="sub.gender == 'M'"> {% trans "Female" %}</span>
          </div>
          <div class="phtop">
            <span>{% trans "Category" %}</span>:
            -<span ng-bind="sub.category"></span>
          </div>
        </p>
      </div>
      </div>
    </div>
    <div class="cardbox  md-whiteframe-4dp">
      <h3>{% trans "Payment" %}</h3>
      <div class="pfbot">
        {% blocktrans %}
          The subscription fee is 35 Euro if you pay before the 11th of March
          2018.  After that date you wil have to pay 45 Euro.
        {% endblocktrans %}
      </div>
      <div class="pfbot">
        {% blocktrans %}
          Pay the amount on account BE33 0017 5924 5146 with the structered message:
        {% endblocktrans %} <span ng-bind="sub.paymessage"></span>
      </div>
      </p>
    </div>
    <div class="pftop pfbot" ng-hide="sub.subscriptionconfirmed">
      <md-button class="md-raised md-primary" ng-click="sub.confirm()">
        {% trans "Confirm" %}
      </md-button>
    </div>
    <div class="cardbox md-whiteframe-4dp" ng-show="sub.subscriptionconfirmed">
      {% blocktrans %}
      Your subscription is confirmed
      {% endblocktrans %}
    </div>
    <div class="pftop pfbot" ng-show="sub.subscriptionconfirmed">
      <md-button class="md-raised md-primary" ng-click="sub.newsubscription()">
        {% trans "New subscription" %}
      </md-button>
    </div>
  </md-tab>

  {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/ui-cropper.css' %}">
  {% endaddtoblock %}

</md-tabs>

</div>

{% render_bundle 'manifest' %}
{% render_bundle 'vendor' %}
{% render_bundle 'subscription' %}


{% addtoblock "js" %}

<script src="{% static 'js/lib/angular.min.js' %}"></script>
<script src="{% static 'js/lib/angular-animate.min.js' %}"></script>
<script src="{% static 'js/lib/angular-aria.min.js' %}"></script>
<script src="{% static 'js/lib/angular-cookies.min.js' %}"></script>
<script src="{% static 'js/lib/angular-gettext.min.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_en.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_fr.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_de.js' %}"></script>
<script src="{% static 'js/lib/locale/angular-locale_nl.js' %}"></script>
<script src="{% static 'js/lib/angular-material.min.js' %}"></script>
<script src="{% static 'js/lib/angular-messages.min.js' %}"></script>
<script src="{% static 'js/lib/angular-route.min.js' %}"></script>
<script src="{% static 'js/lib/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/lib/ng-file-upload.min.js' %}"></script>
<script src="{% static 'js/lib/ui-cropper.js' %}"></script>

<script src="{% static 'js/controllers/ctrl_sub.js'%}"></script>
<script src="{% static 'js/services/common.js'%}"></script>

{% endaddtoblock %}

{% endblock content %}
