{% extends "base.html" %}
{% load cms_tags i18n sekizai_tags staticfiles %}

{% block title %}{% trans "Series" %}{% endblock title %}

{% block content %}

<div v-app>

  <div  class="container">
  <md-sidenav md-component-id="right" class="md-sidenav-right noprint" ng-cloak>
    <md-toolbar class="md-toolbar-tools md-hue-1">
      <h3>{% trans "Series " %}</h3>
    </md-toolbar>
    <md-content>
      <md-button ng-click="ctrlmain.gotoCategory('J8')">J8</md-button>
      <md-button ng-click="ctrlmain.gotoCategory('J10')">J10</md-button>
      <md-button ng-click="ctrlmain.gotoCategory('J12')">J12</md-button>
      <md-button ng-click="ctrlmain.gotoCategory('J14')">J14</md-button>
      <md-button ng-click="ctrlmain.gotoCategory('J16')">J16</md-button>
      <md-button ng-click="ctrlmain.gotoCategory('J20')">J20</md-button>
    </md-content>
    <md-toolbar class="md-toolbar-tools md-hue-1">
      <h3>{% trans " Go to round" %}</h3>
    </md-toolbar>
    <md-content>
      <md-button ng-click="ctrlmain.gotoRound(0)">1</md-button>
      <md-button ng-click="ctrlmain.gotoRound(1)">2</md-button>
      <md-button ng-click="ctrlmain.gotoRound(2)">3</md-button>
      <md-button ng-click="ctrlmain.gotoRound(3)">4</md-button>
      <md-button ng-click="ctrlmain.gotoRound(4)">5</md-button>
      <md-button ng-click="ctrlmain.gotoRound(5)">6</md-button>
      <md-button ng-click="ctrlmain.gotoRound(6)">7</md-button>
      <md-button ng-click="ctrlmain.gotoRound(7)">8</md-button>
      <md-button ng-click="ctrlmain.gotoRound(8)">9</md-button>
    </md-content>
  </md-sidenav>

  <md-content>

    <md-toolbar class="md-toolbar md-toolbar-tools noprint" md-scroll-shrink="1">
      <h1 flex>{% trans "Series" %}: <span ng-bind="trnshort"></span></h1>
      <md-button class="md-icon-button" ng-click="ctrlmain.togglemenu()">
        <md-icon class="material-icons">more_vert</md-icon>
      </md-button>
    </md-toolbar>

    <md-tabs md-border-bottom md-dynamic-height md-selected="ctrlmain.tabix">

      <md-tab md-on-select="ctrlmain.select('pairings')">
        <md-tab-label><span class="noprint">{% trans "Pairings" %}</span></md-tab-label>
        <md-tab-body>
          <div class="cardbox md-whiteframe-4dp" >
            <h4>{% trans "Pairings" %} {% trans "Round" %}
              <span ng-bind-html="currentRound +1 "></span>
            </h4>
            <table class="table" style="width:auto;" ng-show="pairings.length">
              <tr>
                <th>N.</th>
                <th>{% trans "White" %}</th>
                <th>{% trans "Result" %}</th>
                <th>{% trans "Black" %}</th>
              </tr>
              <tr ng-repeat="p in pairings">
                <td ng-bind-html="p.black ? $index+1 : ''"></td>
                <td>
                  <span ng-bind-html="p.white"></span>
                  <span class="hidden-xs">
                    (<span ng-bind-html="p.white_rating"></span> :
                    <span ng-bind-html="p.white_points.toFixed(1)"></span>)
                  </span>
                </td>
                <td>
                  <span ng-bind-html="ctrlmain.result(p)  | trusted"></span>
                </td>
                <td>
                  <span ng-bind-html="p.black"></span>
                  <span class="hidden-xs" ng-show="p.black">
                    (<span ng-bind-html="p.black_rating"></span> :
                    <span ng-bind-html="p.black_points.toFixed(1)"></span>)
                  </span>
                </td>
              </tr>
            </table>
            <div ng-hide="pairings.length">
              {% trans "No pairings available" %}
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab md-on-select="ctrlmain.select('standings')">

        <md-tab-label><span class="noprint">{% trans "Standings" %}</span></md-tab-label>
        <md-tab-body>
          <div class="cardbox md-whiteframe-4dp" >
            <h4>{% trans "Standings" %} {% trans "Round" %}
              <span ng-bind-html="currentRound +1 "></span>
            </h4>
            <table class="table" style="width:auto;" ng-show="standings.length">
              <tr>
                <th>N.</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Points" %}</th>
                <th>{% trans "Rating" %}</th>
                <th>{% trans "Gender" %}</th>
{#                <th>{% trans "Clubname" %}</th>#}
{#                <th>{% trans "# Games" %}</th>#}
                <th>TB1</th>
                <th>TB2</th>
                <th>TB3</th>
                <th>TB4</th>
                <th>TB5</th>
              </tr>
              <tr ng-repeat="s in standings">
                <td ng-bind-html="$index+1"></td>
                <td><a href="#" ng-click="ctrlstandings.gotoPlayercard(s)"
                       ng-bind-html="s.name"></a></td>
                <td ng-bind-html="s.points"></td>
                <td ng-bind-html="s.rating"></td>
                <td ng-bind-html="s.gender"></td>
{#                <td ng-bind-html="s.clubname"></td>#}
{#                <td ng-bind-html="s.ngames"></td>#}
                <td ng-bind-html="s.tiebreak[0].Points"></td>
                <td ng-bind-html="s.tiebreak[1].Points"></td>
                <td ng-bind-html="s.tiebreak[2].Points"></td>
                <td ng-bind-html="s.tiebreak[3].Points"></td>
                <td ng-bind-html="s.tiebreak[4].Points"></td>
              </tr>
            </table>
            <div ng-hide="standings.length">
              {% trans "No standings available" %}
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab md-on-select="ctrlmain.select('playercard')"
              ng-if="ctrlplayercard.show">
        <md-tab-label><span class="noprint">{% trans "Player Card" %}</span></md-tab-label>
        <md-tab-body>
          <div class="cardbox md-whiteframe-4dp" >
            <h4>{% trans "Player Card" %}:
              <span ng-bind-html="cpl.Name"></span>
            </h4>
            <table class="table" style="width:auto;" ng-show="cpl.show">
              <tr>
                <th>N.</th>
                <th>{% trans "Opponent" %}</th>
                <th>{% trans "Color" %}</th>
                <th>{% trans "Result" %}</th>
                <th>{% trans "Float" %}</th>
              </tr>
              <tr ng-repeat="r in cpl.RoundArray">
                <td ng-bind-html="$index+1"></td>
                <td ng-bind-html="r.OpponentName"></td>
                <td ng-bind-html="r.Color[0]"></td>
                <td ng-bind-html="r.Result"> </td>
                <td ng-bind-html="r.Float"> </td>
              </tr>
            </table>
          </div>
        </md-tab-body>
      </md-tab>

    </md-tabs>

  </md-content>

  </div>


</div>

{% addtoblock "css" %}
<link href="{% static "bower_components/angular-material/angular-material.min.css"%}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'js/cdp_api.js' %}" type="application/javascript"></script>
<script src="{% static 'js/viewtrn.js' %}" type="application/javascript"></script>

{% endaddtoblock %}

{% endblock content %}
