{% load cms_tags menu_tags staticfiles sekizai_tags i18n %}
<!doctype html>
<html>
<head>
<title>{% block title %}Belgian Youth Championships{% endblock title %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/angular-material.css' %}">
{#<link rel="stylesheet" href="{% static 'css/bycco.css' %}">#}
{% render_block "css" %}
</head>
<body>

{% cms_toolbar %}

<div id="app">

    <v-navigation-drawer v-cloak dark temporary fixed v-model="drawer"
                         class="navmax blue-grey darken-1">
      <v-toolbar flat class="blue-grey">
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              Menu
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <div class="btn-language blue-grey darken-1">
        <v-btn flat small class="hover-darker" href="/nl/">NL</v-btn>
        <v-btn flat small href="/fr/">FR</v-btn>
        <v-btn flat small href="/de/">DE</v-btn>
        <v-btn flat small href="/en/">EN</v-btn>
      </div>
      <v-list dark dense class="blue-grey darken-1">
        {% show_menu 0 100 100 100 %}
        <v-list-group >
          <v-list-tile slot="activator" @click="">
            <v-list-tile-content>
              {% trans "Categories" %}
            </v-list-tile-content>
          </v-list-tile>
          <div>
            <v-btn class="white--text hover-darker" href="/subscribe/participants?cat=8" flat>B8</v-btn>
            <v-btn class="white--text" href="/subscribe/participants?cat=8" flat>G8</v-btn>
          </div>
          <div>
            <v-btn class="white--text" href="/subscribe/participants?cat=10" flat>B10</v-btn>
            <v-btn class="white--text" href="/subscribe/participants?cat=10" flat>G10</v-btn>
          </div>
          <div>
            <v-btn class="white--text" href="/subscribe/participants?cat=12" flat>B12</v-btn>
            <v-btn class="white--text" href="/subscribe/participants?cat=12" flat>G12</v-btn>
          </div>
          <div>
            <v-btn class="white--text" href="/subscribe/participants?cat=14" flat>B14</v-btn>
            <v-btn class="white--text" href="/subscribe/participants?cat=14" flat>G14</v-btn>
          </div>
          <div>
            <v-btn class="white--text" href="/subscribe/participants?cat=16" flat>B16</v-btn>
            <v-btn class="white--text" href="/subscribe/participants?cat=16" flat>G16</v-btn>
          </div>
          <div>
            <v-btn class="white--text" href="/subscribe/participants?cat=18" flat>B18</v-btn>
            <v-btn class="white--text" href="/subscribe/participants?cat=18" flat>G18</v-btn>
          </div>
          <div>
            <v-btn class="white--text" href="/subscribe/participants?cat=20" flat>B20</v-btn>
            <v-btn class="white--text" href="/subscribe/participants?cat=20" flat>G20</v-btn>
          </div>
        </v-list-group>
        <v-list-tile  href="/subscribe">
          <v-list-tile-content>
            <v-list-tile-title>
              {% trans "Subscribe" %}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider></v-divider>
      {% if request.user.is_authenticated %}
      <v-list dark dense class="blue-grey darken-1">
        <v-list-group>
          <v-list-tile slot="activator" @click="">
            <v-list-tile-content>Admin</v-list-tile-content>
          </v-list-tile>
          <v-list-tile href="/subscribe/attendee">
            <v-list-tile-action></v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Participants</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
      {% endif %}
    </v-navigation-drawer>

    <v-toolbar v-cloak fixed dark app
               class="blue-grey darken-2 {% block toolbar_classes %}{% endblock toolbar_classes %}">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-items>
        <v-btn flat large>{% trans "BYC 2018" %}</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat large href="/info/agenda">
          {% trans "Agenda" %}
        </v-btn>
        <v-btn flat large href="/info/lodging">
          {% trans "Lodging" %}
        </v-btn>
        <v-btn flat large href="/subscribe">
          {% trans "Subscribe" %}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

  {% block banner %}{% endblock banner %}

  {% block vueapp %}{% endblock vueapp %}

  {% block vuefooter %}{% endblock vuefooter %}

</div>

{% block angularapp %}{% endblock angularapp %}

{% block angularfooter %} {% endblock angularfooter %}

{% render_block "js" %}

</body>
</html>
