{% load cms_tags menu_tags staticfiles sekizai_tags i18n %}
<!doctype html>
<html>
<head>
<title>{% block title %}Belgian Youth Championships{% endblock title %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/app.css' %}">
{% render_block "css" %}
<script>
// quick check for IE11 and other older brpwser
if (!Object.assign) location.href = '/browsernotsupported';
</script>
</head>
<body>

{% cms_toolbar %}

<div id="app">

  <v-app>

    <v-navigation-drawer v-cloak dark temporary v-model="drawer"
                         class="navmax cyan">
      <v-toolbar flat color="cyan lighten-1">
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title cyan lighten-1">
              Menu
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <div class="btn-language cyan">
        <v-btn flat small href="/nl/">NL</v-btn>
        <v-btn flat small href="/fr/">FR</v-btn>
        <v-btn flat small href="/de/">DE</v-btn>
        <v-btn flat small href="/en/">EN</v-btn>
      </div>
      <v-list dense color="cyan">
        {% show_menu 0 100 100 100 %}
                <v-list-group >
          <v-list-tile slot="item" @click="">
            <v-list-tile-content>
              {% trans "Categories" %}
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>keyboard_arrow_down</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <div>
            <v-btn class="white--text" flat>B8</v-btn><v-btn class="white--text" flat>G8</v-btn>
          </div>
          <div>
            <v-btn class="white--text" flat>B10</v-btn><v-btn class="white--text" flat>G10</v-btn>
          </div>
          <div>
            <v-btn class="white--text" flat>B12</v-btn><v-btn class="white--text" flat>G12</v-btn>
          </div>
          <div>
            <v-btn class="white--text" flat>B14</v-btn><v-btn class="white--text" flat>G14</v-btn>
          </div>
          <div>
            <v-btn class="white--text" flat>B16</v-btn><v-btn class="white--text" flat>G16</v-btn>
          </div>
          <div>
            <v-btn class="white--text" flat>B18</v-btn><v-btn class="white--text" flat>G18</v-btn>
          </div>
          <div>
            <v-btn class="white--text" flat>B20</v-btn><v-btn class="white--text" flat>G20</v-btn>
          </div>
        </v-list-group>
        <v-list-tile  href="/info/subscribe">
          <v-list-tile-content>
            <v-list-tile-title>
              {% trans "Subscribe" %}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar v-cloak app fixed class="{% block toolbar_classes %}{% endblock toolbar_classes %}">
      <v-toolbar-side-icon @click.stop="toggleMenu()"></v-toolbar-side-icon>
      <v-toolbar-items>
        <v-btn flat large>{% trans "BYC 2018" %}</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat large href="/info/agenda">
          {% trans "Agenda" %}
        </v-btn>
        <v-btn flat large href="/info/lodging">
          {% trans "Lodging" %}
        </v-btn>
        <v-btn flat large href="/info/subscribe">
          {% trans "Subscribe" %}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

  {% block banner %}{% endblock banner %}

  <main>
    <v-content class="{% block content_classes %}{% endblock content_classes %}">
      <v-container fluid>
      {% block content %}{% endblock content %}
      </v-container>
    </v-content>
  </main>

  <v-footer app></v-footer>

</v-app></div>

<script src="{% static 'app.js' %}"></script>

{% render_block "js" %}

</body>
</html>
