{% extends "base.html" %}
{% load cms_tags i18n %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block banner %}
<div class="landing-box">
  <div class="landing-title">
    {% trans "Belgian Youth Chess Championships 2018" %}
  </div>
</div>
{% endblock banner %}

{% block toolbar_classes %}navlanding{% endblock toolbar_classes%}

{% block content_classes %}contentlanding{% endblock content_classes %}

{% block content %}
{% placeholder "content" %}
{% endblock content %}

