{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block vueapp %}
<main>
  <v-content class="{% block content_classes %}{% endblock content_classes %}">
    <v-container fluid>
     {% block vuecontent %}{% endblock vuecontent %}
    </v-container>
  </v-content>
</main>
{% endblock vueapp %}

{% block vuefooter %}
<v-carousel hide-controls hide-delimiters :value="adCarouselValue"
            class="adcarrousel mb-2">
  <v-carousel-item :src="'/static/img/frame_archery.png'"></v-carousel-item>
  <v-carousel-item :src="'/static/img/frame_blankenberge.png'"></v-carousel-item>
  <v-carousel-item :src="'/static/img/frame_chessconsult.png'"></v-carousel-item>
  <v-carousel-item :src="'/static/img/frame_cvwarehouse.png'"></v-carousel-item>
  <v-carousel-item :src="'/static/img/frame_g4gm.png'"></v-carousel-item>
  <v-carousel-item :src="'/static/img/frame_talistro.png'"></v-carousel-item>
</v-carousel>

<v-footer height="auto" class="blue-grey lighten-1 white--text">
  <v-layout row class="py-2">
    <v-flex md3 sm6 xs12 class="ml-2" light>
      {%  trans "About Bycco" %}
    </v-flex>
    <v-flex md3 sm6 xs12 class="ml-2">
      {%  trans "The team" %}
    </v-flex>
    <v-flex md3 sm6 xs12 class="ml-2">
      {%  trans "Contact" %} <a href="mailto:info@bycco.be">info@bycco.be</a>
    </v-flex>
    <v-flex md3 sm6 xs12 class="ml-2">
      <img src="{% static "img/facebook.png" %}">
      <img src="{% static "img/twitter.png" %}">
    </v-flex>
  </v-layout>
</v-footer>
{%  endblock vuefooter %}


