.idea
.vscode
.directory
.code-workspace
.mypy_cache
*.mo
*.pyc
*.css.map
*.sqlite
/backend/local_settings.py
/frontend/dist
/frontend/node_modules
credentials-gmail.json
.env
*.code_workspace
.gitsecret/keys/random_seed
!*.secret
