fe_dist/
frontend/node_modules/
*.mo
venv/
.idea
*.css.map
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/src/stylus/bycco.css
/frontend/webpack-stats.json
/bycco.egg-info/
/local_settings.py
*.pyc
/dist
/.vscode/
