.idea
.vscode
.directory
.mypy_cache
*.mo
*.pyc
*.css.map
/backend/local_settings.py
/backend/dist
/frontend/dist
/frontend/node_modules
/frontend/webpack-stats.json
/frontend/src/util/sorted
/backend/build
/backend/media
/build
/data