[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
cmsplugin-filer = "*"
django-cms = "*"
django-cors-headers = "*"
django-filer = "*"
django-reversion = "*"
django-sekizai = "*"
django-tablib = "*"
django-treebeard = "*"
django-webpack-loader = "*"
djangocms-admin-style = "*"
djangocms-attributes-field = "*"
djangocms-column = "*"
djangocms-file = "*"
djangocms-inherit = "*"
djangocms-link = "*"
djangocms-style = "*"
djangocms-text-ckeditor = "*"
djangocms-video = "*"
djangocms-snippet = "*"
djangocms-googlemap = "*"
djangorestframework = "*"
gunicorn = "*"
html5lib = "==0.999999999"
iso8601 = "*"
pdfkit = "*"
psycopg2-binary = "*"
pytz = "*"
requests = "*"
simplejson = "*"
six = "*"
Django = "*"
Pillow = "*"
