[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
flake8 = "*"

[packages]
django-cms = "*"
django-cors-headers = "*"
django-filer = "*"
django-sekizai = "*"
django-treebeard = "*"
django-webpack-loader = "*"
djangocms-admin-style = "*"
djangocms-attributes-field = "*"
djangocms-column = "*"
djangocms-file = "*"
djangocms-link = "*"
djangocms-style = "*"
djangocms-text-ckeditor = "*"
djangocms-video = "*"
djangocms-snippet = "*"
djangocms-googlemap = "*"
djangorestframework = "*"
gunicorn = "*"
html5lib = "==0.999999999"
iso8601 = "*"
pdfkit = "*"
psycopg2-binary = "*"
pytz = "*"
requests = "*"
simplejson = "*"
six = "*"
Django = "*"
Pillow = "*"

[requires]
python_version = "3.7"

[dev-packages.rd-django]
path = "./data/rd_django-0.10.2-py3-none-any.whl"

[dev-packages.fdc8dbd]
path = "./data/rd_django-0.10.2-py3-none-any.whl"
