aldryn-apphooks-config
cmsplugin-filer
dj-database-url
django<1.11
django-appconf
django-classy-tags
django-cms
django-filer
django-formtools
django-meta
django-mptt
django-parler
django-polymorphic<2.0
django-sekizai
django-sortedm2m
django-treebeard
django-taggit
django-taggit-autosuggest
django-webpack-loader
djangocms-admin-style
djangocms-attributes-field
djangocms-blog
djangocms-column
djangocms-googlemap
djangocms-installer
djangocms-link
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-video
djangorestframework
easy-thumbnails
html5lib==0.9999999
iso8601
pillow
psycopg2
pytz
requests
simplejson
six
tzlocal
unidecode
https://chessdevil.myqnapcloud.com/pip/dbf/dbf-1.0.tar.gz