cmsplugin-filer
Django<2
django-cms
django-cors-headers
django-filer
django-sekizai
django-tablib
django-treebeard
django-webpack-loader
djangocms-admin-style
djangocms-attributes-field
djangocms-column
djangocms-file
djangocms_inherit
djangocms-link
djangocms-style
djangocms-text-ckeditor
djangocms-video
djangocms-snippet
djangocms-googlemap
djangorestframework
html5lib>=0.999999,<0.99999999
gunicorn
Pillow
psycopg2.binary
pytz
requests
reversion
simplejson
six
wheel
rd_django-0.7.0-py3-none-any.whl