django-cms
django-cors-headers
django-filer
django-sekizai
django-treebeard
django-webpack-loader
djangocms-admin-style
djangocms-attributes-field
djangocms-column
djangocms-file
djangocms-link
djangocms-style
djangocms-text-ckeditor
djangocms-video
djangocms-snippet
djangocms-googlemap
djangorestframework
gunicorn
html5lib==0.999999999
iso8601
markdown2
pdfkit
psycopg2-binary==2.7.7
pytz
requests
simplejson
six
Django<2.2
Pillow
./data/rd_django-0.10.2-py3-none-any.whl

