{% extends "weblog.html" %}
{% load i18n %}
{% load zinnia %}

{% block sidebar %}

<v-card class="my-2">
  <v-card-title  class="blue-grey lighten-3">
    <h4>{% trans "Categories" %}</h4>
  </v-card-title>
  <v-card-text>
    <p><a href="{% url 'zinnia:category_list' %}">
      {% trans "Categories" %}
    </a></p>
    {% get_categories %}
  </v-card-text>
</v-card>

<v-card class="my-2">
  <v-card-title  class="blue-grey lighten-3">
    <h4>{% trans "Calendar" %}</h4>
  </v-card-title>
  <v-card-text>
  {% get_calendar_entries %}
  </v-card-text>
</v-card>

<v-card class="my-2">
  <v-card-title  class="blue-grey lighten-3">
    <h4>{% trans "Recent entries" %}</h4>
  </v-card-title>
  <v-card-text>
    {% get_recent_entries %}
  </v-card-text>
</v-card>

<v-card class="my-2">
  <v-card-title  class="blue-grey lighten-3">
    <h4>{% trans "Archives" %}</h4>
  </v-card-title>
  <v-card-text>
    {% get_archives_entries_tree %}
  </v-card-text>
</v-card>

{% if user.is_authenticated %}

<v-card class="my-2">
  <v-card-title  class="blue-grey lighten-3">
    <h4>{% trans "Tools" %}</h4>
  </v-card-title>
  <v-card-text>
  <ul>
    {% if perms.zinnia %}
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li>
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
  </v-card-text>
</v-card>

{% endif %}
{% endblock sidebar %}
