@page {
  size: A4;
  margin: 0; }
@media print {
  .bnrpage {
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always; } }
.bnr_11 {
  top: 1cm;
  left: 1cm; }

.bnr_12 {
  top: 1cm;
  left: 6cm; }

.bnr_13 {
  top: 1cm;
  left: 11cm; }

.bnr_21 {
  top: 6cm;
  left: 1cm; }

.bnr_22 {
  top: 6cm;
  left: 6cm; }

.bnr_23 {
  top: 6cm;
  left: 11cm; }

.bnr_31 {
  top: 11cm;
  left: 1cm; }

.bnr_32 {
  top: 11cm;
  left: 6cm; }

.bnr_33 {
  top: 11cm;
  left: 11cm; }

.bnr_41 {
  top: 16cm;
  left: 1cm; }

.bnr_42 {
  top: 16cm;
  left: 6cm; }

.bnr_43 {
  top: 16cm;
  left: 11cm; }

.bnr_51 {
  top: 21cm;
  left: 1cm; }

.bnr_52 {
  top: 21cm;
  left: 6cm; }

.bnr_53 {
  top: 21cm;
  left: 11cm; }

.bnr_1 {
  position: absolute;
  width: 5cm;
  height: 5cm;
  border: 1px dashed #444; }

.bnrpage {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 2cm auto 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative; }

.bnrcat {
  position: absolute;
  top: 0;
  left: 4cm;
  width: 1cm;
  height: 5cm; }

.bnrnr {
  position: absolute;
  top: 1.5cm;
  left: 1.5cm;
  font-size: 400%; }

.brntext {
  position: absolute;
  top: 4.5cm;
  left: 0.5cm;
  font-size: 80%; }
