@import '../../node_modules/vuetify/src/stylus/main'
@import 'color.styl'
@import 'landing.styl'
@import 'noncms.styl'
@import 'subscription.styl'

.navmax {
  max-width: 85%;
}

.container {
  h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: normal;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: normal;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}
.content.contentlanding  {
  padding-top: 1em !important;
}

.btn-language {
  .btn {
    min-width :0;
  }
}

.hover-darker:hover {
  background: rgba(0,0,0,0.12) !important;
}

