@import 'color.styl'
@import 'landing.styl'
@import 'noncms.styl'
@import 'subscription.styl'

.navmax {
  max-width: 85%;
}

.container {
  h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: normal;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: normal;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}
.content.contentlanding  {
  padding-top: 1em !important;
}

.btn-language {
  .btn {
    min-width :0;
  }
}

.hover-darker:hover {
  background: rgba(0,0,0,0.12) !important;
}

  .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  .pagination > li {
    display: inline; }
    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.42857;
      text-decoration: none;
      color: #274964;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px; }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 2;
    color: #12212d;
    background-color: #eeeeee;
    border-color: #ddd; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #274964;
    border-color: #274964;
    cursor: default; }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed; }

.byccotheme {
  background-color: byccotheme
}

.white--text a {
  text-decoration: none;
  color: floralwhite
}

.white--text a:hover {
  text-decoration: none;
  font-weight: bold;
}

.tabs__item {
  color: #4a4a4a;
}

.tabs__item--active {
  color: #000000;
  font-weight: 700;
}

.content ul {margin-left: 0; padding-left: 40px;}

.adcarousel {
  width: 360px;
  height: 170px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
