strongtext = rgba(113, 80, 255, 0.87)
bgmenu = alpha(#4D5E65, 0.4)
bgmenu-scrolled = rgba(175, 205, 212, 0.9)
bgmenu-hover = rgba(121, 191, 178, 0.9)
titletext = #26ffe2
bgtitletezt = alpha(#212729, 0.35)
landingtitle = #b9cbe7

