.landing-box
  background-position: center top
  background-size: auto 100%
  background-repeat: no-repeat
  width: auto
  position: relative

  @media screen and (min-width: 1281px)
    height: 524px
    background-image: url('/static/img/landing_big.jpeg')
  @media screen and (min-width: 720px) and (max-width: 1280px)
    height: 349px
    background-image: url('/static/img/landing_medium.jpeg')

  @media screen and (max-width: 720px)
    height: 196px
    background-image: url('/static/img/landing_small.jpeg')


.landing-title
  position: absolute
  top: 80px
  right: 1em
  font-size: 200%
  color: landingtitle;
  padding: 0.5em 1em
  background-color: bgtitletezt
  @media screen and (min-width: 720px) and (max-width: 1280px)
    font-size: 150%
  @media screen and (max-width: 720px)
    font-size: 100%


.navlanding.cyan.darken-2
  background-color: bgmenu !important
