.main
  display: flex
  flex: 1 0 auto
  padding-top: 70px;

.content
  flex: 1 1 auto
  max-width: 100%

.fluidcontainer
  margin: auto
  padding: 16px
  flex: 1 1 100%
  width: 100%

.cardbox
  margin: 13px 6px
  padding: 6px
  line-height: 120%
  *
    margin-bottom: 6px
  ul
    list-style: inside
    margin-left: 15px

