{% extends "base.html" %}
{% load cms_tags i18n sekizai_tags staticfiles menu_tags %}
{% load render_bundle from webpack_loader %}

{% block content %}

{% addtoblock "css" %}
{% if PRODUCTION %}
  {% render_bundle 'subscribe' 'css' %}
{% endif %}
{% endaddtoblock %}

{% addtoblock "js" %}
{% if PRODUCTION %}
  {% render_bundle 'chunk-vendors' %}
  {% render_bundle 'subscribe' 'js' %}
{% else %}
  {% render_bundle 'subscribe' %}
{% endif %}

<script>
window.config = {
  api_url: '/api',
  lang: '{{ LANGUAGE_CODE }}',
  urli18: {
    nl: '/nl/subscribe',
    fr: '/fr/subscribe',
    de: '/de/subscribe',
    en: '/en/subscribe',
  }
};

function registerComponent(id, dataf) {
  let cmscontent = document.getElementById(id),
      chtml='';
  // filter out <template> and <script> tags
  for (let i=0; i<cmscontent.children.length; i++) {
    let tag = cmscontent.children[i].tagName;
    if (tag != 'TEMPLATE'  && tag != 'SCRIPT') {
      chtml += cmscontent.children[i].outerHTML;
    }
  }
  application.Vue.component(id, {
    template: '<div>' + chtml + '</div>',
    data: dataf || function(){ return{}},
  });
}

registerComponent('cms-menu-items');

vm = new application.Vue({
  render: h => h(application.App),
  i18n: application.i18n,
  store: application.store,
  created () {
    new application.VueCmsPatch(this)
  },
}).$mount('#app');
</script>
{% endaddtoblock js %}

<div id="app"></div>

<div id="cms-menu-items" style="display:none;">
  {%  show_menu 0 100 100 100 %}
</div>

{% endblock content %}