{% load i18n %}
<h1>{% trans "Invoice" %} {% trans "Belgian Youth Chess Championships 2019" %}</h1>
<img src="cid:bycco.png">
<h3>Bycco</h3>
<div>Belgian Youth Chess Championship Organizers</div>
<div font-size="small">vzw. asbl. VoE. npo.</div>
<div>Museumstraat 67, 9881 Bellem</div>
<div>{%  trans "VAT number" %}: BE 0630.723.395</div>
<div>E-mail: info@bycco.be</div>
<div>Website: https://www.bycco.be</div>

<h3>{% trans "Subcription"  %}</h3>
<div>{{ sub.respname }}</div>
<div>{{ sub.respemail }}</div>

<h3 style="margin-top: 2em;">{% trans "Invoice details" %}</h3>
<p>{% trans "Invoice number" %}: {{ sub.invoicenumber }}</p>
<p>{% trans "Subscription" %}: {%  trans "Belgian Youth Chess Championships 2019" %}</p>
<p class="phtop">
    {% trans "Participant" %}: {{sub.fullname }}
</p>
<table>
  <tr>
    <td>{% trans: "Price VAT excluded" %}</td>
    <td style="text-align: right">{{ sub.pricewithoutvat }} &euro;</td>
  </tr>
  <tr>
    <td>{% trans: "VAT" %}</td>
    <td style="text-align: right">{{ sub.vat }} &euro;</td>
  </tr>
  <tr>
    <td>{% trans: "Price VAT included" %}</td>
    <td style="text-align: right">{{ sub.pricewithvat }} &euro;</td>
  </tr>

</table>