{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles menu_tags %}
{% load render_bundle from webpack_loader %}

{% block content %}

{% addtoblock "css" %}
{% if PRODUCTION %}
  % render_bundle 'chunk-vendors' css %}
  {% render_bundle 'articles' 'css' %}
{% endif %}
{% endaddtoblock %}

{% addtoblock "js" %}

<script>
var pathparts = window.location.pathname.split('/');
window.config = {
  lang: '{{ LANGUAGE_CODE }}',
  localemsg: JSON.parse(document.getElementById('locale-msg').textContent),
  production: '{{ PRODUCTION }}',
  phpbaseurl: '{{ PHPBASEURL}}',
  api_url: '/api',
  url_i18n: {
    nl: '/nl/' + pathparts.slice(2).join('/'),
    fr: '/fr/' + pathparts.slice(2).join('/'),
    de: '/de/' + pathparts.slice(2).join('/'),
    en: '/en/' + pathparts.slice(2).join('/'),
  },
  {% block extra_config %}{% endblock extra_config %}
  marked: null,  
};
</script>

{% if PRODUCTION %}
{% render_bundle 'chunk-vendors' js %}
  {% render_bundle 'articles' 'js' %}
{% else %}
  {% render_bundle 'articles' %}
{% endif %}

<script>
function registerComponent(id, options) {
  let cmscontent = document.getElementById(id),
      chtml='';
  // filter out <template> and <script> tags
  for (let i=0; i<cmscontent.children.length; i++) {
    let tag = cmscontent.children[i].tagName;
    if (tag != 'TEMPLATE'  && tag != 'SCRIPT') {
      chtml += cmscontent.children[i].outerHTML;
    }
  }
  application.Vue.component(id, {
    template: '<div>' + chtml + '</div>',
    data: (options && options.data) || function(){ return{}},
    methods: (options && options.methods) || {},
  });
}

registerComponent('cms-menu-items');

vm = new application.Vue({
  render: h => h(application.App),
  router: application.router,
  i18n: application.i18n,
  store: application.store,
}).$mount('#app');

</script>
{% endaddtoblock js %}

<div id="app"></div>

<div id="cms-menu-items" style="display:none;">
  {%  show_menu 0 100 100 100 %}
</div>

{% endblock content %}