<v-container   grid-list-md>
  <v-layout row wrap>
    {% for a in articles %}
      <v-flex xs12 sm6 md4>
        <v-card class="my-2">
          <v-card-title class="green lighten-2">
            <h4 class="black--text">{{ a.title }}</h4>
          </v-card-title>
          <v-card-text v-html="marked('{{ a.intro | escapejs}}')">
             
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            {% if a.readmore %}
              <v-btn flat color="green" href="/articles/view/{{ a.slug }}" 
                v-html="$t('read more')">
            {% endif %}
            </v-btn>
          </v-card-actions>
        </v-card>            
      </v-flex>
    {% endfor %}
  </v-layout>
</v-container>
