{% load i18n %}
{% trans "Belgian Youth Chess Championships 2017" %}

{% trans "Confirmation details" %}
{% trans "Fullname" %}: {{sub.fullname}}
{% trans "Birthdate" %}: {{sub.birthdate}}
{% trans "ID Club" %}: {{sub.id_club}}
{% trans "Nationality" %}: {{sub.nationality}}
{% trans "FIDE Nationality" %}: {{sub.fidenation}}
{% trans "National rating" %}: {{sub.natrating}}
{% trans "FIDE rating" %}: {{sub.fiderating}}
{% trans "Gender" %}:{{sub.gender}}
{% trans "Category" %}: {{sub.category}}

{% trans "Payment" %}
{% blocktrans %}
The subscription fee is 35 Euro is you pay before the 1st of March
2017.  After that date you wil have to pay 45 Euro.
{% endblocktrans %}

{% blocktrans %}
Pay the amount on account BE33 0017 5924 5146 with the structered message:
{% endblocktrans %} {{sub.paymessage}}

The BYCCO team