{% extends "base.html" %}
{% load cms_tags i18n sekizai_tags staticfiles %}

{% block title %}{% trans "Tournament Subscriptions" %}{% endblock title %}

{% block content %}

<div ng-app="participants" ng-controller="partCtrl" class="container">


<h1>{% trans "Participants" %}</h1>

<md-tabs md-border-bottom md-autoselect md-dynamic-height>

  <md-tab ng-repeat="cat in categories" md-on-select="loadcat(cat)">
    <md-tab-label><span ng-bind="cat.label"></span></md-tab-label>
    <md-tab-body>
      <div class="cardbox md-whiteframe-2dp">
        <h3>{% trans "Girls" %} <span ng-bind="cat.label"></span></h3>
        <table class="table">
          <tr ng-repeat="p in girls"  ng-show="p.confirmed">
            <td ng-bind="$index + 1"></td>
            <td><img width=50
                     ng-src="{% templatetag openvariable %}photourl(p) {% templatetag closevariable %}">
            </td>
            <td ng-bind="p.firstname"></td>
            <td ng-bind="p.name"></td>
            <td ng-bind="p.rating"></td>
          </tr>
        </table>
      </div>
      <div class="cardbox md-whiteframe-2dp">
        <h3>{% trans "Boys" %} <span ng-bind="cat.label"></span></h3>
        <table class="table">
          <tr ng-repeat="p in boys" ng-show="p.confirmed">
            <td ng-bind="$index + 1"></td>
            <td><img width=50
                     ng-src="{% templatetag openvariable %}photourl(p) {% templatetag closevariable %}">
            </td>
            <td ng-bind="p.firstname"></td>
            <td ng-bind="p.name"></td>
            <td ng-bind="p.rating"></td>
          </tr>
        </table>
      </div>
    </md-tab-body>
  </md-tab>

</md-tabs>

</div>

{% addtoblock "css" %}
<link href="{% static "bower_components/angular-material/angular-material.min.css"%}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'js/participants.js' %}" type="application/javascript"></script>
{% endaddtoblock %}

{% endblock content %}
