{% extends "vue.html" %}
{% load cms_tags staticfiles sekizai_tags i18n menu_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% addtoblock "js" %}
{% if PRODUCTION %}
  {% render_bundle 'manifest' %}
  {% render_bundle 'vendor' %}
{% endif %}
{% render_bundle 'app' %}
{% endaddtoblock %}

{% endblock content %}

<script>
window.config = {
  apiurl: '/api',
  lang: '{{ LANGUAGE_CODE }}'
}
</script>
