{% load cms_tags staticfiles sekizai_tags i18n menu_tags %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>BJK 2019</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="app"></div>
{% render_bundle 'app' %}

<script type="x-template" id="cms-menu-items">
<div>
{%  show_menu 0 0 100 100 %}
</div>
</script>

<script type="x-template" id="cms-content">
<div>
{% placeholder "content" %}
</div>
</script>

<script>
application.Vue.component('cms-menu-items',  {
  template: '#cms-menu-items',
});

application.Vue.component('cms-content',  {
  template: '#cms-content',
});

vm = new application.Vue({
  store: application.Store,
  i18n: application.I18n,
  render: h => h(application.App)
}).$mount('#app');

</script>

</body>
</html>
