<h1>{{ _["Belgian Youth Chess Championships 2020"] }}</h1>
<div class="cardbox md-whiteframe-4dp">
  <h3>{{ _["Confirmation details"] }}</h3>
  <table>
    <tr>
      <td width="30%" class="confirmationphoto">
        <img src="cid:1">
      </td>
      <td width="35%">
          <div class="phtop">
            {{ _["Full name"] }}: {fullname}
          </div>
          <div class="phtop">
            {{ _["Birthdate"] }}: {birthdate}
          </div>
          <div class="phtop">
            {{ _["ID Club"] }}: {idclub}
          </div>
          <div class="phtop">
            {{ _["FIDE Nationality"] }}: {nationalityfide}
          </div>
          <div class="phtop">
            <span>{{ _["Can become Belgian champion"] }}: {champ}</span>:
          </div>
        </td>
        <td width="35%" >
          <div class="phtop">
            {{ _["National rating"] }}: {ratingbel}
          </div>
          <div class="phtop">
              {{ _["FIDE rating"] }}: {ratingfide}
          </div>
          <div class="phtop">
              {{ _["Gender"] }}: {gender}
          </div>
          <div class="phtop">
              {{ _["Category"] }}: {category}
          </div>
      </td>
      </tr>
  </table>
  <div class="pftop"></div>

</div>
<br>
<br>
<div class="cardbox">
  <h3>{{ _["Payment"] }}</h3>
  <div class="pfbot">
    {{ _["SubConf1"] }}
  </div>
  <div class="pfbot">
    {{ _["SubConf2"] }} {paymessage}
  </div>
  <div class="pftop"></div>
</div>
<br><br>
The Bycco team