{% extends "cms.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load render_bundle from webpack_loader %}

{% block xcss_after %}

  {% if PRODUCTION %}
    {% render_bundle 'chunk-vendors'  'css' %}
    {% render_bundle 'cms' 'css' %}
  {% endif %}

{% endblock xcss_after %}

{% block content %}

<div id="app"></div>

<div id="cms-content" style="display:none;">
  {%  placeholder "content" %}
</div>

<div id="cms-menu-items" style="display:none;">
  {%  show_menu 0 100 100 100 %}
</div>

<div id=cms-extracontent style="display:none;">
  {% block extracontent %}{% endblock extracontent %}
</div>

{% endblock content%}

{% block xscript_before %}

  {{ LOCALE_MSG|json_script:"locale-msg" }}
  <script>
  window.config = {
    lang: '{{ LANGUAGE_CODE }}',
    localemsg: JSON.parse(document.getElementById('locale-msg').textContent),
    production: '{{ PRODUCTION }}',
    phpbaseurl: '{{ PHPBASEURL}}',
    api_url: '/api',
    url_i18n: {
      nl: "{% page_language_url 'nl' %}",
      fr: "{% page_language_url 'fr' %}",
      de: "{% page_language_url 'de' %}",
      en: "{% page_language_url 'en' %}",
    },
    {% block extra_config %}{% endblock extra_config %}
    marked: null,
  };

  </script>

  {% if PRODUCTION %}
    {% render_bundle 'chunk-vendors' 'js' %}
    {% render_bundle 'cms' 'js' %}
  {% else %}
    {% render_bundle 'cms' %}
  {% endif %}

{% endblock xscript_before %}

{% render_block "js" %}

{% block xscript_after %}

<script>

function registerComponent(id, options) {
  let cmscontent = document.getElementById(id),
      chtml='';
  // filter out <template> and <script> tags
  for (let i=0; i<cmscontent.children.length; i++) {
    let tag = cmscontent.children[i].tagName;
    if (tag != 'TEMPLATE'  && tag != 'SCRIPT') {
      chtml += cmscontent.children[i].outerHTML;
    }
  }
  window.application.Vue.component(id, {
    template: '<div>' + chtml + '</div>',
    data: (options && options.data) || function(){ return{}},
    methods: (options && options.methods) || {},
  });
}

function startup () {


  registerComponent('cms-content', {
      data: function (){return { tabactive: 0}},
      methods: { marked: window.config.marked},
    });

  registerComponent('cms-menu-items');

  if (window.config.landing) {
    registerComponent('cms-extracontent', {
      methods: { marked: window.config.marked},
    });
  }  

  application.Vue.config.ignoredElements = [
    'cms-template',
    'cms-plugin',
  ];

  vm = new application.Vue({
    render: h => h(application.App),
    i18n: application.i18n,
    store: application.store,
    created () {
      new application.VueCmsPatch(this)
    },
  }).$mount('#app');

}

startup();

</script>

{% endblock xscript_after %}