.B8, .G8, .U8 { background-color: #f3e0e9 !important; }
  
.B10, .U10 { background-color: #8bf589 !important; }
.G10 { background-color: #def5c1 !important; }
  
.B12, .U12 { background-color: #678cf9 !important; }
.G12 { background-color: #b0d0ef !important; }
  
.B14, .U14 { background-color: #f8f79a !important; }
.G14 { background-color: #eed76e !important; }
  
.B16, .U16 { background-color: #de5150 !important; }
.G16 { background-color: #fa6883 !important; }
  
.B18, .U18 { background-color: #8f43de !important; }
.G18 { background-color: #bea3db !important; }
  
.B20, .G20, .U20 { background-color: #aaaaaa !important; }
  
.ORG { background-color: #1734dc !important; }
  
.ARB { background-color: #316299 !important; }

.IMT { background-color: #387961 !important; }
